:root {

    --primary: #4B12C1;    
    --primary-dark: #3820CF;
    
    --primary-neutral-black: #212121;
    --secondary-neutral-black: #37394F;

    --gradient-purple-2: linear-gradient(136.28deg, #6A37D5 19.25%, #371D6F 134.96%);

    
    /* Text Style */
    --t1-title: 72px;
    --t2-title: 64px;
    --t3-title: 56px;
    
    --h1-heading: 56px;
    --h2-heading: 48px;
    --h3-heading: 40px;
    --h4-heading: 32px;
    --h5-heading: 24px;
    --h6-heading: 20px;

    --label-1: 16px;
    --label-2: 14px;
    --label-3: 12px;

    --body-1: 18px;
    --body-2: 16px;
    --body-3: 14px;

    --caption-1: 10px;
    --caption-2: 9px;

    --text: #34344E;
    --gray: #6B7280;
    --bg: #FCFBFF;

    --radius: 16px;
    --transition: .35s ease;
    --shadow: 0 20px 60px rgba(40, 40, 80, .08);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Mona Sans", sans-serif;
    background: var(--bg);
    color: var(--text);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

button {
    outline: none;
}

.mx-auto {
    margin: 0px auto;
}

.my-auto {
    margin: auto 0px;
}

.grey-line-light {
    font-size: var(--label-1);
    font-weight: 300;
}

.ls-15px {
    letter-spacing: 1.5px;
}

.my-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}