.why-section {
    background:#FAFAFA;
    padding: 40px 0;
}

/*=======================*/

.why-heading {
    margin-bottom: 70px;
}

.why-badge {
    display: inline-flex;    
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    border: 1px solid var(--neutral-stroke, #E5E7EB);
    background: #FAFAFA;
}

.why-heading h2 {
    color: var(--secondary-neutral-black);
    font-size: var(--h3-heading);
    font-weight: 400;    
    line-height: 1.2;
}

.why-description {
    color: #6B7280;
    font-size: var(--label-1);
    line-height: 1.5;
    max-width: 760px;
    margin: 25px auto 0;
}

/*=======================*/

.feature-grid {
    overflow: hidden;    
}

/*=======================*/

.feature-box {
    background: #fff;
    padding: 45px;
    height: 50%;
    border: 1px solid #ededed;
    transition: .35s;
}

.feature-box:hover {
    transform: translateY(-6px);
    box-shadow: 0 30px 70px rgba(0, 0, 0, .08);
}

.feature-box h3 {
    color: var(--secondary-neutral-black);
    font-size: var(--h5-heading);
    font-weight: 400;    
    line-height: 1.2;
    margin-top: 10px;
}

.feature-box p {
    color: #6B7280;
    font-size: var(--label-2);
    line-height: 1.5;
    max-width: 760px;
    margin: 25px auto 0;
}

/*=======================*/

.icon-box {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background: #5d2fff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/*=======================*/

.center-box {
    height: 100%;
    position: relative;
    background:
        linear-gradient(180deg,
            #faf8ff,
            #ffffff);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #ededed;
}

/*=======================*/

.center-box::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 320px;
    background:
        radial-gradient(circle,
            rgba(105, 63, 255, .25),
            transparent 70%);
    top: 90px;
}

/*=======================*/

.floating-cube {
    position: absolute;
    top: 50px;
}

.cube {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background:
        linear-gradient(135deg,
            #8c78ff,
            #5633ff);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 42px;
    box-shadow: 0 20px 50px rgba(98, 52, 255, .35);
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

/*=======================*/
.dashboard {
    width: 88%;
    background: white;
    border-radius: 18px;
    margin-bottom: 35px;
    padding: 25px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .08);
    position: relative;
    z-index: 2;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.dashboard strong {
    font-size: 34px;
    color: #222;
}

.bars {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    height: 180px;
}

.bars span {
    flex: 1;
    background:
        linear-gradient(180deg,
            #6f42ff,
            #cbbdff);
    border-radius: 20px;
}

.bars span:nth-child(1) {
    height: 30%;
}

.bars span:nth-child(2) {
    height: 80%;
}

.bars span:nth-child(3) {
    height: 55%;
}

.bars span:nth-child(4) {
    height: 40%;
}

.bars span:nth-child(5) {
    height: 65%;
}

.bars span:nth-child(6) {
    height: 50%;
}

.bars span:nth-child(7) {
    height: 90%;
}

.bars span:nth-child(8) {
    height: 60%;
}

.bars span:nth-child(9) {
    height: 35%;
}

.bars span:nth-child(10) {
    height: 75%;
}

/*=======================*/

@media(max-width:991px) {
    .why-heading h2 {
        font-size: 42px;
    }

    .feature-box {
        height: auto;
    }

    .center-box {
        min-height: 600px;
    }
}